@use "./vars" as v;

%montserrat {
  font-family: v.$font-primary, sans-serif;
}

%title-base {
  @extend %montserrat;
  text-transform: uppercase;
  color: v.$main-color;
  font-weight: v.$second-font-weight;
  text-align: center;
}

%btn-base {
  @extend %montserrat;
  display: inline-block;
  padding: 12px;
  text-transform: uppercase;
  background: transparent;
  font-weight: v.$main-font-weight;
  font-size: v.$third-font-size;
  color: v.$main-color;
  border: 1px solid v.$main-color;
  width: 190px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4b2e1e;
    color: #f4e1c1;
    box-shadow: 0 4px 12px rgba(75, 46, 30, 0.4);
  }
}
