@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/open-sans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans/OpenSans_SemiCondensed-Italic.woff2")
      format("woff2"),
    url("../assets/fonts/open-sans/OpenSans_SemiCondensed-Italic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source-sans/SourceSans3-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/source-sans/SourceSans3-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/source-sans/SourceSans3-Bold.woff2") format("woff2"),
    url("../assets/fonts/source-sans/SourceSans3-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
