@use "./vars" as v;

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin title($size, $weight, $color: (v.$main-color), $align: left) {
  font-family: (v.$font-primary), sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-transform: uppercase;
  text-align: $align;
}

@mixin hover-focus {
  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    @content;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: v.$desktop) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: v.$tablet) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: v.$mobile) {
      @content;
    }
  } @else if $breakpoint == small-mobile {
    @media (max-width: v.$small-mobile) {
      @content;
    }
  }
}
