@use "./vars" as v;

@mixin font-face($family, $file-path, $weight, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($file-path + ".woff2") format("woff2"),
      url($file-path + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin title($size, $weight, $color: (v.$main-color), $align: left) {
  font-family: (v.$font-primary), sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  text-transform: uppercase;
  text-align: $align;
}
