// --------------------- Custom Classes ---------------------
@use "./vars" as v;
.hero__slider {
  min-height: 800px;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

    padding: 24px;
    border-radius: 20px;
  }

  &-slide {
    position: relative;
    height: 680px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgb(93 100 106 / 41%), rgb(15 20 77 / 64%));
    }
    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.sl-content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.3em;
  color: #fff;
  text-transform: uppercase;
}
// ------------------------- Default Classes ---------------------

.section__3 {
  position: relative;

  .slider_cont {
    position: relative;
    padding-bottom: 60px;

    .slick-list {
      margin: 0 -15px;
    }

    .slick-slide {
      margin: 0 15px;
    }
  }

  /* ---------------------- Dots ---------------------- */
  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slick-dots button {
    all: unset;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(123, 63, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;

    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
  }

  .slick-dots .slick-active button {
    background-color: v.$main-color;
    border-color: v.$main-color;
  }

  .slick-dots li {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 0;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .slick-prev {
    left: -80px;
    &::before {
      background-image: url("../assets/svg/left_arrow.svg");
    }
  }

  .slick-next {
    right: -80px;
    &::before {
      background-image: url("../assets/svg/right_arrow.svg");
    }
  }
}
@media (max-width: 1024px) {
  .slider_cont .slick-slide {
    margin: 0 10px;
  }
}
