$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans";
$font-tertiary: "Source Sans Pro";

$main-color: #2c4058;
$second-color: #fff;
$third-color: #000;

$main-font-size: 44px;
$second-font-size: 18px;
$third-font-size: 14px;
$fourth-font-size: 22px;

$main-font-weight: 400;
$second-font-weight: 700;
