@use "./vars" as v;
@use "./mixins" as m;
@use "./extends";
@use "./normalize";
@use "./fonts";
@use "./common";

.container {
  border: 1px solid #fff;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  border: 1px solid #000;
}

.section:not(:first-of-type) {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 150px;
}

// ==================NAV===============================

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 53px;
  &_menu {
    display: flex;
    gap: 30px;
    align-items: center;
    &__item {
      position: relative;
    }
    &__link {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: v.$second-color;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-left: 25px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border: 1px solid (v.$second-color);
        border-radius: 50%;
        opacity: 0.5;
        transition: all 0.3s ease;
      }
      &:hover::before {
        background-color: v.$second-color;
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    &_menu {
      display: none;
    }
  }
}

.soc_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid (v.$second-color);
    border-radius: 50%;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
      background: v.$second-color;
      transform: scale(1.1);
      .soc_menu__icon {
        fill: v.$main-color;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: v.$second-color;
  }
}

// <!-- ================    TITLES    ======================== -->

.title {
  @extend %title-base;
  font-size: v.$main-font-size;
  font-weight: v.$second-font-weight;

  &__1 {
    @include m.title(
      (v.$main-font-size),
      (v.$second-font-weight),
      (v.$main-color),
      center
    );
  }
  &__3 {
    @include m.title((v.$fourth-font-size), (v.$second-font-weight));
  }

  &__4 {
    @include m.title((v.$fourth-font-size), (v.$main-font-weight));
  }

  &__5 {
    @include m.title((v.$second-font-size), (v.$main-font-weight));
  }
}

// ==================// TEXT  // =============

.text {
  font-family: v.$font-secondary, sans-serif;
  font-weight: v.$main-font-weight;
  font-size: v.$second-font-size;
  line-height: 1.67;
  color: v.$main-color;
}

// <!-- =====================    PROJECTS     ========================= -->

.project {
  display: flex;
  flex-direction: column;
}

.project__info {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // gap: 60px;
  flex-wrap: wrap;
  min-height: 527px;

  &:not(:first-of-type) {
    margin-top: 120px;
  }
}
.project__info:nth-child(even)::before {
  right: auto;
  left: -70px;
}
.project__info:nth-child(odd) {
  flex-direction: row-reverse;
}
.info_card {
  flex: 1;
  // max-width: 470px;
  // padding-top: 81px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  gap: 20px;
}
.img_container {
  flex: 1;
  max-width: 630px;
  position: relative;
  overflow: hidden;
}
.proj_img {
  flex: 1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.project__location {
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  color: v.$third-color;
  padding-left: 25px;
  margin-top: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("../assets/svg/location.svg") no-repeat center;
    background-size: contain;
  }
}
.img_proj {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
}
.wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 585px;
    height: 400px;
    z-index: 0;
    border-radius: 2px;
  }

  &::before {
    top: 110px;
    left: 70px;
    background-color: #cd853f;
  }

  &::after {
    top: 750px;
    right: 70px;
    background-color: #a0522d;
  }
}

// =============NEWS=============
.section__3 {
  position: relative;
  background: url("../assets/img/bg.jpg") no-repeat center center/cover;
  background-attachment: fixed; // створює ефект паралаксу
  padding: 120px 0;
  color: #fff;
  // затемнення поверх картинки
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2; // щоб контент був над затемненням
  }
}

.slider_cont {
  @include m.flex(space-between);
  gap: 20px;
}

.slider {
  width: 370px;
  background: v.$second-color;
}
.new_info {
  padding-left: 20px;
}

.title__5,
.title__3 {
  text-transform: uppercase;
}
.title__3 {
  max-width: 330px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.time {
  font-family: v.$font-primary;
  font-weight: v.$main-font-weight;
  font-size: v.$third-font-size;
  line-height: 1.67;
  color: #55b7ff;
}
.user {
  margin-top: 39px;
  margin-bottom: 30px;
  @include m.flex(flex-start);
  gap: 20px;
  &__img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
}
.title_two {
  position: relative;
  // display: inline-block;
  // margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: #2c4058;
  }
}
.section__3 .title_two {
  color: v.$second-color;
  &::before {
    background-color: v.$second-color;
  }
}
// =============img=============
.img {
  width: 370px;
  height: 240px;
}
// =============     gallery =============

.gallery__btn {
  margin: 0 auto;
}

.gallery__btn {
  display: block;
  margin: 50px 0;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // тепер 4 колонки
  grid-template-rows: repeat(2, 214px);
  gap: 10px;

  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
  }

  // перше зображення — велике (2x2)
  .gallery__item--1 {
    grid-column: 1 / 3; // займає 1-2 колонки
    grid-row: 1 / 3; // займає 1-2 рядки
  }

  // решта зображень розташовані справа
  .gallery__item--2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .gallery__item--3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .gallery__item--4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .gallery__item--5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}

@media (max-width: 992px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .gallery__item--1 {
      grid-column: 1 / -1;
      grid-row: auto;
    }
  }
}

@media (max-width: 600px) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }
}
// =========================== FOOTER  =========================

//  data-speed="0.10">
// " data-speed="0.40">
// " data-speed="-0.20">

.footer {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  background: url("../assets/img/bg_foo.jpg") center/cover no-repeat fixed;
  // text-align: center;
  overflow: hidden;
  // padding: 120px 0;
  padding-top: 203px;
  padding-bottom: 234px;

  // темне напівпрозоре накриття як у Coffee Journal
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    );
    z-index: 1;
  }

  .footer__cont {
    position: relative;
    z-index: 2;
    display: flex;
    @include m.flex(space-around, flex-start);
  }

  .small {
    margin-top: 41px;
    font-family: v.$font-primary;
    font-weight: v.$main-font-weight;
    font-size: v.$third-font-size;
    color: v.$second-color;

    display: block;
    opacity: 0.85;
  }
}
// =============button=============

.btn {
  @extend %btn-base;
}
